<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
  </head>
  <body>
  <div>
    <div class="container">
      <div class="row text-center col-8 mx-auto d-flex flex-column justify-content-center">
        <a href="/" class="go-back">
          <i class="fas fa-arrow-left"></i>
          <div> Home</div>
          </a>
        <h3>O O F, the content is gone.</h3>
        <h6 class="text-muted">404 not found</h6>

        <div class="img-container my-3">
          <img class="img-fluid mx-auto" title="Sad dog" src="/images/sad_dog.jpg" alt="Image of a sad dog">
        </div>
        <div class="text-container">
          <p class="text-justify my-3">
            We could not find the resource you are looking for. The page 
            could have been moved or does no longer exist. If this is the 
            first time this happens try reloading the page. If the error 
            persists please contact our support at 
            <a href="mailto:support@greenmeanelectrics.com">support@greenmeanelectrics.com</a>.
          </p>
        </div>
        <% if (error) { %>
          <!-- <%- JSON.stringify(error) %> -->
          <%= error.message%>
        <% } %>
      </div>
    </div>
  </body>
</html>
