<p>Copyright  <script>new Date().getFullYear()>2010&&document.write("©"+new Date().getFullYear());</script>. Green Lean Electrics Limited.</p>
<p>NOTICE: This is a demo website for educational purposes only. We do not actually sell anything.</p>
<p><a href="#">Back to top</a></p>