<nav class="navbar navbar-dark bg-light navbar-right">
        <a class="navbar-brand text-muted" href="/"><%= title %></a>
        <a class="p-2 text-muted" href="/">Home</a>
        <a class="p-2 text-muted" href="/aboutus">test</a>
        <a class="p-2 text-muted" href="/aboutus">test</a>
        <a class="p-2 text-muted" href="/aboutus">About us</a>
        <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-sm btn-outline-secondary" href="/signin">Sign in</a>
        <a class="btn btn-sm btn-outline-secondary" href="/signup">Sign up</a>
        </form>
      </nav>
</div>
    


