<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<nav class="navbar navbar-dark bg-light navbar-right">
        <a class="navbar-brand text-muted" href="/"><%= title %></a>
        <a class="p-2" href="/">Info</a>
        <a class="p-2" href="/aboutus">Pricing</a>
        <a class="p-2" href="/aboutus">Contact</a>
        <a class="p-2" href="/aboutus">About us</a>
        <form class="form-inline my-2 my-lg-0">
        <% if (!user) { %>
          <a class="btn btn-sm btn-primary" href="/users/signin">Sign in</a>
          <a class="btn btn-sm btn-primary btnmargin" href="/users/signup">Sign up</a>
        <% } else { %>
          <a class="btn btn-sm btn-primary" href="/users/signout">Sign out</a>
        <% } %>
        </form>
      </nav>
</div>