<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<div>
<nav class="navbar navbar-dark bg-light navbar-right">
        <a class="navbar-brand text-muted" href="/"><%= title %></a>
        <a class="p-2" href="/pricing">Pricing</a>
        <% if (!user) { %>
          <a class="p-2" href="/users/signin?permission=true">Dashboard</a>
        <% } else if (user.role == "admin" || user.role == "manager"){ %>
          <a class="p-2" href="/dashboard/manager">Dashboard</a>
        <% } else { %>
          <a class="p-2" href="/dashboard/prosumer">Dashboard</a>
        <% } %>
        <a class="p-2" href="/aboutus">About us</a>
        <form class="form-inline my-2 my-lg-0">
        <% if (!user) { %>
          <a class="btn btn-sm btn-primary" href="/users/signin">Sign in
            <span data-feather="log-in"></span><script>feather.replace()</script> 
          </a>
          <a class="btn btn-sm btn-primary btnmargin" href="/users/signup">Sign up
            <span data-feather="feather"></span><script>feather.replace()</script> 
          </a>
        <% } else { %>
          <a class="btn btn-sm btn-primary" href="/users/signout">Sign out
            <span data-feather="log-out"></span><script>feather.replace()</script> 
          </a>
        <% } %>
        </form>
      </nav>
</div>