<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/feather-icons"></script> 
    <title><%= title %></title>
  <body>
      <% include header.ejs %> 
    <div class="container">    
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4 .jumbotron">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">The future of renewable energy is now!</h1>
          <p class="lead my-5">"Only I can change my life. No one can do it for me." -  Carol Burnett. 
            That's exactly what we at Green Lean Electrics believe, someone has to save the climate and 
            tomorrow can't wait.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    </div> 
    <div class="container">    
      <div class="row">
        <div class="col-md">
          <p>With the ever increasing issue of climate change there has never been a more important time
            in the history of our species to collectively restructure and become more aware as individuals
            about our daily usage of natural resources. No matter the origin, corporations, businesses and
            families alike affect the planet their own way.  
          </p>
            <p>At Green Lean Electrics we love the nature and all of it's inhabitants. Therefore we 
              consider it to the be of utmost importance to ensure the survival of our civilization and
              all other species. Let our compassion inspire yourself to try our out services at a reasonable 
              yet climate friendly price
          </p> 
        </div>
        <div class="col-md">
          <p>When you buy your electricity from our power plant you can be ensured all electricity 
            is made from 100% natural resources and no waste material is produced. Further, no animal 
            wild life was harmed during it's production. Here you can find everything you need for the 
            whole family, men, women and even the little ones, no one will be left outside.
          </p>
          <p>Also, the store is a certified 
            E-safe shop and you get a 30 day return policy. If you have any 
            questions you can get in touch with our customer service by phone, 
            chat or mail. Don't forget to subscribe to our newsletter to get 
            the latest offerings and follow us on Facebook and Instagram. 
            Thank you for choosing Green Lean Electrics!
          </p> </div>
      </div>
    </div>
      <footer class="blog-footer mt-5">
      <% include footer.ejs %>
     </footer>
  </body>
</html>