<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <title><%= title %></title>
  </head>
  <body>
    <% if (query && query.success) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Registration successful!</strong> Please sign in.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>     
    <% } %>

    <% if (query && query.failure) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Invalid login!</strong> Email and password does not match.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>     
    <% } %>

    <div class="container">
      <form class="row text-center col-8 mx-auto d-flex flex-column justify-content-center" action="/users/signin" method="POST">
        <div class="logo">
            <a href="/" class="go-back">
            <i class="fas fa-arrow-left"></i>
            <div> Home</div>
            </a>
            <span class="logo-text h1"> GLE </span>
            </div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <h4 id="status" class="h3 font-weight-normal status d-none"></h4>
            <div class="form-group">
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <a class="btn btn-lg btn-primary btn-block" href="/users/signup" role="button">Not a member yet?</a>
      </form>
    </div>
    <footer class="blog-footer mt-5">
      <% include footer.ejs %>
    </footer>   
  </body>
</html>